<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ofPartner Organizational Assessment Services</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/custom.css">

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
<nav class="navbar transparent navbar-inverse navbar-fixed-top" id="my-navar">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#page-top" class="navbar-brand page-scroll" alt="ofPartner OAS"><img src="images/logo2.png" width="183" height="34" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <a href="{{ path_for('login') }}" class="btn btn-primary navbar-btn navbar-right" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Sign In</a>
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
            <a href="#contact" class="page-scroll btn navbar-btn navbar-right navphone"><span class="glyphicon glyphicon-earphone"></span> &nbsp;(312) 720-6145</a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="white">Organizational Assessment Services</h1>
                <h3 class="white2">As a professional service provider, a law firm’s greatest assets are its people. With compensation one of the largest expenses, law firms simply cannot afford to mismanage this critical component of their business.</h3>
                <div>&nbsp;</div><div>&nbsp;</div>
                <a class="btn-cst1 page-scroll" href="#about">Learn More</a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="h1Header"><span class="glyphicon glyphicon-chevron-right blue"></span> About OAS</h1>
                <h3 style="text-align:center; color:#AAA; font-style:italic; padding:0px 60px 20px 60px;">“ofPartner’s OAS allows you to quickly see how attorneys and support staff spend their time, and what it is costing the firm.”</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <p class="light">As a professional service provider, a law firm’s greatest assets are its people. With compensation one of the largest expenses, law firms simply cannot afford to mismanage this critical component of their business.</p>
                <p class="light">In response to this need, ofPartner Consulting Services has developed the <span class="blue"><strong>Organizational Assessment Survey (OAS)</strong></span>, a unique tool that provides leadership with unprecedented vision into a firm’s operation by analyzing the activities performed by each individual within the firm.</p>
                <p class="light">The <span class="blue"><strong>OAS</strong></span> does this using a simple online survey that asks respondents to describe the activities they perform during a typical year.</p>
                <p class="light">The result is an easy to use report that allows you to view and analyze your firm as a total organization, focusing on the functions performed, rather than positions held.</p>
                <p class="light">The report also allows you to filter the results to analyze individual offices, departments, practice groups, or employees. The survey and resulting data are organized into a logical structure that is intuitive and easy to follow. High-level technical experience is not necessary in order to effectively analyze your results.</p>
            </div>
            <div class="col-sm-5">
                <p class="light blue"><strong>Who could utilize the OAS results?</strong></p>
                <ul>
                    <li class="light licontent">Senior Firm Leadership</li>
                    <li class="light licontent">Practice Area/Group Leadership</li>
                    <li class="light licontent">Office Leadership</li>
                    <li class="light licontent">Administrative Department Leadership</li>
                </ul>
                <p class="light blue"><strong>How can the OAS results be utilized?</strong></p>
                <ul>
                    <li class="light licontent">Firm Strategic Planning</li>
                    <li class="light licontent">Practice Area/Group Strategic Planning</li>
                    <li class="light licontent">Analyzing the Utilization of Legal Personnel</li>
                    <li class="light licontent">Developing a Cost Basis for AFA calculations</li>
                    <li class="light licontent">Benchmarking for Strategic and Operational Initiatives</li>
                    <li class="light licontent">Reorganization of Administrative Functions</li>
                    <li class="light licontent">Realignment of Administrative Departments and Personnel</li>
                    <li class="light licontent">Development of Core Competency Models</li>
                    <li class="light licontent">And much more...</li>
                </ul>
            </div>
        </div>
    </div><!-- container-->
</section>

<!-- Services Section -->
<section id="services" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Services Section</h1>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact Section</h1>
            </div>
        </div>
    </div>
</section>
<footer class="panel-footer text-center">
    <div class="container">asdf</div>
</footer>
<div class="modal fade" id="signin" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;Sign In To Account</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="signin/">
                    <div class="form-group">
                        <label for="exampleInputEmail1">User Name</label>
                        <input type="textbox" name="username" class="form-control" id="usnid" aria-describedby="emailHelp" placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="actpwd" class="form-control" id="pwdid" placeholder="Password">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-primary" name="btn-signin" value="Sign In" />
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div>
</div>

<!-- jQuery -->
<script src="js/jquery-1.12.4.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>

</body>

</html>
